/* VARIABLES */
@page {
  size: A4 portrait;
}

:root {
  --main-bg-color: #f7faff;
  --main-color: #000000;
  --main-contrast-color: #26252d;

  --alternate-bg-color: #282c34;
  --alternate-color: #a9b7c6;
  --alternate-contrast-color: #ffffff;

  --contrast-color: #f78c6c;
  --contrast-opposite-color: #a9b7c6;
  --alternative-contrast-color: #34b198;

  --wildcard-color: #a9b7c6;

  --shadow-color: #00000024;

  --doc-width: 800px;
  --doc-height: 1122px;
  --side-size: 270px;
  --head-size: 250px;
}

/* ELEMENTS */
body {
  margin: 0px;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  background-color: var(--main-bg-color);
}

h1 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

p {
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--alternate-color);
}

hr {
  height: 5px;
  width: 60%;
  border: none;
  background: var(--contrast-color);
}

a:-webkit-any-link {
  color: var(--alternate-color);
  text-decoration: none;
}

.mobile {
  display: none !important;
}

/* FONT AWESOME */
.fa-circle {
  color: var(--contrast-opposite-color);
  font-size: 14px !important;
}

.contrasted {
  color: var(--contrast-color);
}

.discreet {
  color: var(--alternate-color);
}

.alternate-contrasted {
  color: var(--alternative-contrast-color);
}

/* GENERAL */
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.no-break > div {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.align-start {
  align-items: flex-start;
}

.icon {
  min-width: 22px;
}

/* LAYOUT */
.resume-container {
  padding: 0;
  max-width: var(--doc-width);
  max-height: var(--doc-height);
  overflow: hidden;
}

.resume {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  background-color: var(--main-bg-color);
}

.side-container,
.page-container {
  position: relative;
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}

.side-container {
  flex: 1;
  min-width: var(--side-size);
  height: var(--doc-height);

  background-color: var(--alternate-bg-color);
}

.page-container {
  flex: 10;
  min-width: calc(var(--doc-width) - var(--side-size));
  height: var(--doc-height);
}

.side,
.page {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: var(--doc-height);
}

.head {
  height: var(--head-size);
}

.profile,
.details {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;

  padding: 25px 10px 15px 10px;
}

.page hr {
  position: absolute;
  right: 0;
}

.column {
  padding: 10px 5px;
  margin: 5px;
}

/* SIDE */
.side {
  color: var(--alternate-color);
}

.side h1 {
  color: var(--alternate-contrast-color);
}

.mugshot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;

  border-radius: 0 0 var(--head-size) var(--head-size);
  background: var(--contrast-color);
  border: var(--contrast-color) 1px solid;
}

.anonymous {
  width: 0;
  background: none;
  border-radius: initial;

  box-sizing: border-box;
  border-right: calc(var(--side-size) / 2 + 1px) solid var(--contrast-color);
  border-bottom: calc(var(--side-size) * 0.25 + 1px) solid transparent;
  border-left: calc(var(--side-size) * 0.5 + 1px) solid var(--contrast-color);
}

.mugshot {
  height: var(--head-size);
  width: var(--head-size);
  background-image: url("./public/me.png");
  background-size: 100% 100%, cover;
  background-repeat: no-repeat;
}

.anonymous .mugshot {
  display: none;
  width: 0;
  height: 0;
  background-image: none;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name h1 {
  color: var(--main-contrast-color);
  font-size: 40px;
  font-weight: normal;
  font-family: arial;
  letter-spacing: 10px;
}

.name div {
  font-size: 32px;
  text-transform: uppercase;
  color: var(--main-color);
}

.name hr {
  margin-top: 25px;
}

.firstname {
  font-family: "Raleway" !important;
  padding: 0;
}

.lastname {
  margin: 5px;
}

.job {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  width: 100%;

  margin: 0;
}

.job::before,
.job::after {
  content: " - ";
}

.job .row {
  flex-wrap: wrap;
  justify-content: center;
}

/* DETAILS */
.section {
  padding-left: 25px;
}

.section p {
  line-height: 18px;
  margin: 0;
  padding: 10px 0;
}

.section .column {
  padding-bottom: 0;
  margin-bottom: 0;
}

.section .column .entry:not(:last-child) {
  padding-bottom: 25px;
}

.section .column .entry:not(:last-child) .bullet::after {
  position: absolute;
  left: 16.5px;
  width: 2px;
  height: 100%;
  content: "";
  background-color: var(--contrast-color);
}

.entry {
  position: relative;
}

.entry .bullet {
  margin-top: 8px;
}

.entry .description {
  flex: 1;
}

.row .technology-list {
  gap: 3px;
  flex-wrap: wrap;
}

.technology {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 2px;
  padding: 2px;

  font-size: 12px;
  color: var(--wildcard-color);
  border: var(--wildcard-color) 1px solid;
  border-radius: 3px;
}

/* SHOWCASE */
@media screen and (min-width: 801px) {
  body {
    display: flex;
    flex: 1;
    width: 100vw;

    justify-content: center;
    align-items: center;
  }

  .resume-container {
    box-shadow: 5px 5px 5px 5px var(--shadow-color);
  }
}

@media screen and (min-height: 1101px) {
  body {
    display: flex;
    flex: 1;
    height: 100vh;

    justify-content: center;
    align-items: center;
  }

  .resume-container {
    box-shadow: 5px 5px 5px 5px var(--shadow-color);
  }
}

@media only screen and (max-width: 800px) {
  :root {
    --head-size: 220px;
  }

  body {
    width: auto;
    height: auto;
  }

  hr {
    width: 100%;
  }

  .resume-container {
    max-width: unset;
    max-height: unset;
  }

  .resume {
    flex-direction: column-reverse;
  }

  .page-container {
    min-width: auto;
  }

  .side-container,
  .page-container {
    height: auto;
  }

  .side,
  .page {
    height: auto;
  }

  .side .head {
    display: none;
  }

  .profile,
  .details {
    padding: 15px 5px 10px 5px;
  }

  .profile {
    flex-direction: row;
    column-count: 2;
    flex-wrap: wrap;
  }

  .profile .column {
    flex: 1;
  }

  .job .row {
    flex: 0;
  }

  .section {
    padding-left: 0;
  }

  .section .column {
    padding-top: 0;
    margin-top: 0;
  }

  .entry .description {
    padding: 10px 0;
  }

  .desktop {
    display: none !important;
  }

  .mobile {
    display: inherit !important;
  }
}
