/* VARIABLES */
@page {
  size: A4 portrait;
}

.sneaky-🥷 * {
  background: var(--background) !important;
  color: var(--background) !important;
}

:root {
  --color: #000000;
  --background: #f7faff;
  --alt-color: #a9b7c6;
  --alt-background: #282c34;
  --tint: #f78c6c;
  --complementary-color: #ffffff;
  --complementary-tint: #34b198;

  --github-color: #6e5494;
  --linkedin-color: #0077b5;
  --twitter-color: #1da1f2;
  --twitter-x-color: #000000;

  --doc-width: 210mm;
  --doc-height: 297mm;
  --side-size: 270px;
  --head-size: 250px;
}

/* ELEMENTS */
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: var(--background);
  font-size: 9.5pt;
}

h1 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

h2 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 3px;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  background: var(--tint);
}

ul {
  margin-block-start: 10px;
  padding-inline-start: 20px;
}

li::marker {
  color: var(--tint);
}

p {
  font-weight: 300;
  /* letter-spacing: 1px; */
  color: var(--color);
}

hr {
  height: 5px;
  width: 100%;
  border: none;
  background-color: var(--tint);
}

.hr-row {
  height: 25px;
  gap: 25px;
}

a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}

.mobile {
  display: none !important;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

/* FONT AWESOME */
.fa-circle {
  color: var(--alt-color);
  font-size: 14px !important;
}

.tint {
  color: var(--tint);
}

.complementary-tint {
  color: var(--complementary-tint);
}

.github-color {
  color: var(--github-color);
}

.linkedin-color {
  color: var(--linkedin-color);
}

.twitter-color {
  color: var(--twitter-color);
}

.x-color {
  color: var(--twitter-x-color);
}

/* GENERAL */
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.no-break > div {
  display: flex;
  flex-direction: row;
  column-gap: 6px;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.align-start {
  align-items: flex-start;
}

.icon {
  min-width: 10px;
}

.big-icon {
  min-width: 15px;
  font-size: 20px;
}

.button {
  display: flex;
  justify-content: center;
  width: 125px;
  padding: 10px 5px;
  color: var(--color);
  background: var(--tint);
  border-radius: 5px;
}

/* LAYOUT */
.resume-container {
  padding: 0;
  overflow: hidden;
}

.resume {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
}

.side-container,
.page-container {
  position: relative;
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}

.side-container {
  flex: 1;
  min-width: var(--side-size);
  height: var(--doc-height);
  background-color: var(--alt-background);
}

.page-container {
  flex: 10;
  height: var(--doc-height);
  background-color: var(--background);
}

.index-page {
  height: auto;
}

.side,
.page {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.page {
  padding: 1.4cm;
}

.head {
  height: var(--head-size);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.profile,
.details {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 10px 10px 15px 10px;
  /* padding: 15px 0 10px 0; */
  gap: 15px;
}

#homepage {
  padding: 40px 0 15px 0;
}

.page hr {
  margin: 0;
}

.column {
  padding: 10px 5px;
  margin: 5px;
}

/* INDEX */
.file-entry {
  gap: 50px;
}

.file-entry > a {
  min-width: 50px;
}

/* SIDE */
.side {
  color: var(--alt-color);
}

.side h1 {
  color: var(--complementary-color);
}

.mugshot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  border-radius: 0 0 var(--head-size) var(--head-size);
  background-color: var(--tint);
  border: var(--tint) 1px solid;
}

.anonymous {
  background: var(--tint);
  border-radius: initial;
  box-sizing: border-box;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 50%, 0% 100%);
}

.mugshot {
  height: var(--head-size);
  width: var(--head-size);
  background-image: url("./public/me.png");
  background-size: 100% 100%, cover;
  background-repeat: no-repeat;
}

.anonymous .mugshot {
  display: none;
  width: 0;
  height: 0;
  background-image: none;
}

.name {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.name h1 {
  font-size: 25px;
  font-weight: normal;
  font-family: arial;
  letter-spacing: 10px;
  padding-left: 10px;
}

.name div {
  font-size: 32px;
  text-transform: uppercase;
  color: var(--color);
}

.name hr {
  margin-top: 25px;
}

.firstname {
  font-family: "Raleway" !important;
  padding: 0;
}

.lastname {
  margin: 5px;
}

.job {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  width: 100%;
  margin: 0;
}

.job::before,
.job::after {
  content: " - ";
}

.job .row {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* DETAILS */
.section-row {
  gap: 15px;
}

.section-row > div {
  flex: 1;
}

.section {
  padding-left: 0;
}

.section p {
  /* line-height: 18px; */
  margin: 0;
  /* padding: 10px 0; */
}

.section .column {
  padding: 0 0 5px 0;
  margin: 5px 0;
}

/* .section .column .entry:not(:last-child) {
  padding-bottom: 25px;
} */

.section .column .entry:not(:last-child) .bullet::after {
  position: absolute;
  left: 16.5px;
  width: 2px;
  height: 100%;
  content: "";
  background-color: var(--tint);
}

#contact {
  gap: 6px;
}

#contact a:-webkit-any-link {
  height: 25px;
  line-height: 25px;
}

.entry {
  position: relative;
}

.entry .bullet {
  margin-top: 7px;
  padding-right: 0;
}

.entry .description {
  flex: 1;
}

.tag {
  padding: 0 3px;
  background-color: var(--complementary-tint);
  border-radius: 3px;
}

.complementary {
  background-color: var(--complementary-tint);
}

.row .technology-list {
  gap: 4px;
  flex-wrap: wrap;
}

.technology {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 2px;
  padding: 2px 4px;
  font-size: 12px;
  border: var(--alt-color) 1px solid;
  border-radius: 3px;
}

/* SHOWCASE */
@media screen and (min-width: 801px) {
  body {
    display: flex;
    flex: 1;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-height: 1101px) {
  body {
    display: flex;
    flex: 1;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 800px) {
  .document-html {
    background-color: var(--background);
    background: rgb(247, 250, 255);
    background: -moz-linear-gradient(
      180deg,
      rgba(247, 250, 255, 1) 50%,
      rgba(38, 37, 45, 1) 50%
    );
    background: -webkit-linear-gradient(
      180deg,
      rgba(247, 250, 255, 1) 50%,
      rgba(38, 37, 45, 1) 50%
    );
    background: linear-gradient(
      180deg,
      rgba(247, 250, 255, 1) 50%,
      rgba(38, 37, 45, 1) 50%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7faff",endColorstr="#26252d",GradientType=1);
  }

  body {
    width: auto;
    height: auto;
  }

  .resume {
    flex-direction: column-reverse;
  }

  .page-container {
    width: 100%;
  }

  .side-container,
  .page-container {
    height: auto;
  }

  .side,
  .page {
    height: auto;
  }

  .side .head {
    display: none;
  }

  .profile {
    flex-direction: row;
    column-count: 2;
    flex-wrap: wrap;
  }

  .profile .column {
    flex: 1;
  }

  #aboutme {
    min-width: 175px;
  }

  .job .row {
    flex: 0;
  }

  .section {
    padding-left: 0;
  }

  .desktop {
    display: none !important;
  }

  .mobile {
    display: inherit !important;
  }
}
